<mat-tab-group>
    <mat-tab label="First">
        <div class="content" style="overflow: hidden;">
            <div fxLayout="row wrap" fxLayoutGap="12px grid">
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%">
                    <app-card></app-card>
                </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%">
                    <app-card></app-card>
                </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%">
                    <app-card></app-card>
                </div>
                <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="25%">
                    <app-card></app-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>